/*  001 - Тренировка - 
    Верстка из макета.  */

/*.b {
  width:              200px;
  padding:            15px;
  color:              white;
  background-color:   #1c90f3;
  font-size:          12px;   
  font-family:        "SegoeUI", 
                      Arial;          }*/
.readmore {
    border: solid 1px black;
    width: 33%;
    font-size: 14px;
    font-family: "Open Sans", Arial;    
}
.readmore A {
    text-decoration: none;
}
.desc A {
    color: green;
}
.desc {
    color: #666;
    line-height: 1.57em;
}
.button_read_more {
   padding: 10px;
   background-color: #34be5b; 
   width: 33%;    
    border-radius: 4px;
}

.button_read_more A {
   color: white; 
}